#navbar {
    position: absolute;
    left: 60%;
    transform: translateX(15%);
}

#imagen {
    display: block;
    margin: auto;
    border-radius: 50%;
}



.datos {
    border-color: 0;
    border-width: 2px;
    border-style: inset;
    text-align: center;
    width: 300px;

}

.externo {
    align-items: center;
    display: flex;
    justify-content: center;
}


.externo2 {
    align-items: center;
    display: flex;
    justify-content: left;
}


.descripcion {
    text-align: center;
    width: 1000px;
    border-radius: 49px;
    border-style: inset;
    border-width: 2px;
}


.DP {
    font-weight: bolder;
    text-align: center;

}

.HV {
    font-weight: bolder;
    text-align: center;
    color: darkgrey;
    

}

.HVC {
    
    text-align: center;
}

/* 


.row{
    display: flex;
    flex-wrap: wrap;
	margin-right: -15px;
    margin-left: -15px;
}
.col-12{
	flex: 0 0 100%;
	max-width: 100%;
}

*/
